@{
    Layout = "_Layout";
}

@*CKEDITOR*@
<script src="~/ckeditor/ckeditor.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>Добавление публикации</title>

</head>
<body>
    <div>

        <h3>Добавление публикации</h3>
        <p>Для добавление публикации заполните следующие поля:</p>

        <form asp-action="AddPost" asp-controller="Post" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="0" />

            <div class="form-group col-md-15">
                <input class="form-control" type="text" name="AuthorName" placeholder="Имя автора" />
            </div>

            <div class="form-group col-md-15">
                <input class="form-control" type="text" name="Name" placeholder="Название публикации" />
            </div>
            <div class="form-group  col-md-15">
                <textarea class="form-control" rows="3" type="text" name="ShortDescription" placeholder="Короткое описание"></textarea>
            </div>

            <div class="form-group col-md-15">
                <textarea name="Text" id="Text" rows="10" cols="80"></textarea>
            </div>

            <div class="form-group  col-md-15">
                <input name="Image" type="file" class="form-control" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="Available" value="true"> Доступность</label>
            </div>

            <label>Категория:</label>
            <div>
                <select name="CategoryId">
                    <option>выбирете категорию </option>
                    <option value=1>Food</option>
                    <option value=2>Motivation</option>
                    <option value=3>Training</option>
                    <option value=4>Science</option>
                </select>
                <div class="select-arrow"></div>
            </div>

            <div class="panel-body">
                <button type="submit" id="submit" style="width:650px;"
                        class="btn btn-success"
                        back>
                    Отправить
                </button>
            </div>


        </form>
    </div>

    <script>
        CKEDITOR.replace('Text');
    </script>

</body>
</html>

