<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png" />
    <!-- Author Meta -->
    <meta name="author" content="CodePixar" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>Blog Details</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Playfair+Display:700,700i"
          rel="stylesheet" />
    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/nice-select.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>

    <!--================Blog Area =================-->
    <section class="blog_area section-gap single-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-13">
                    <div class="main_blog_details">
                        <img class="img-fluid" src="/img/blog/news-blog.jpg" alt="">
                        <h4>О проекте </h4>
                        <h3>Здоровый образ - это блог о том как просто держать свое тело в идельном состояние, быть здоровым, правильно питаться, долго и радостно жить</h3>
                        <p></p>
                        <p> Мы ни от кого не зависим, делаем всё по доброй воле и согласно нашим жизненным принципам. И, кстати, приглашаем в наши трудолюбивые ряды зожных писателей.</p>
                        <p> Пишите пожелания, заявки на тексты, вопросы, предложения и заявки на рекламу на m@obraz.ru</p>
                        <p>в Telegram – @@kuveredo</p>
                        <p> И да пребудет с вами сила.</p>
                        @*<p> Добавить публикацию на сайт.</p>*@
                        <a class="blog-post-btn" asp-controller="Post" asp-action="AddPost">
                            Добавить публикацию на сайт
                        </a>

                        <div class="news_d_footer flex-column flex-sm-row">

                            <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </body>
</html>
  