@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <p>Для оформления покупки заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.PostId" name="PostId" />
            <table>
                <tr>
                    <td>Имя автора:</td>
                    <td><input type="text" name="AuthorName" /> </td>
                </tr>
                <tr>
                    <td>Доступность:</td>
                    <td><input type="text" name="Available" /></td>
                </tr>
                <tr>
                    <td>Название публикации:</td>
                    <td><input type="text" name="Name" /></td>
                </tr>
                <tr>
                    <td>Время:</td>
                    <td><input type="text" name="DateTime" /></td>
                </tr>
                <tr>
                    <td>Короткое описание:</td>
                    <td><input type="text" name="ShortDescription" /></td>
                </tr>
                <tr>
                    <td>Текст поста:</td>
                    <td><input type="text" name="Text" /></td>
                </tr>
                <tr>
                    <td>Изображение:</td>
                    <td><input type="text" name="Image" /></td>
                </tr>
                <tr>
                    <td>Публикация недели:</td>
                    <td><input type="text" name="PostOfWeek" /></td>
                </tr>
                <tr>
                    <td>id категории:</td>
                    <td><input type="text" name="CategoryId" /></td>
                </tr>

                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>